@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(58, 86, 138);
    color: rgb(228, 228, 228);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    padding: 0 1rem;
    &:hover{
        color: coral;
    }
}

.x-card{
    margin: 2rem;
    border: 2px solid rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 1rem;
    flex-basis: 30%;
}
